<mat-toolbar color="primary">
        
    <span>Bank App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon home-icon" style="margin-left: 3%;" (click)="goToHome()">
        <mat-icon>home</mat-icon>
    </button>
    <span md-fab class="image" (click)="goToClients()">
        <a href="/clients" >
            <img src="/assets/people.png" alt="" width="30" height="30" style="margin-bottom: 0;">
        </a>
        <span class="font" style="font-family: 'Poppins', sans-serif; font-size: x-small;">Clients</span>
    </span>

    <button mat-icon-button class="example-icon home-icon" style="margin-left: 50%;" (click)="goToProfile()">
        <mat-icon>face</mat-icon>
        <span class="font" style="font-family: 'Poppins', sans-serif; font-size: x-small;">Info</span>
    </button>
    
    <span  style="margin-left: 5%;">
        <a>
            <img src="/assets/sophos.png" alt="" width="230" height="60">
        </a>
    </span>
</mat-toolbar>
