<app-header></app-header>

<div style="margin: 3%;">
    <div>
        <div style="text-align: center;">
            <img src="/assets/Valentina.jpeg" style="width:300px;height:300px;">
        </div>
        <h1 style="text-align: center;">Valentina Peláez Echeverri</h1>
        
        <h3>Civil Engineer</h3>
        <p>efahvfdil</p>
        <h6>Information: </h6>
            <p><a class="link" href="https://github.com/valenpelaez99" target="_blank">https://github.com/valenpelaez99</a></p>
        <a class="link" [href]="'mailto:valenpelaez99@gmail.com'">valenpelaez99@gmail.com</a>
    </div>
    <br>
</div>