<app-header></app-header>

<div style="margin: 3%;">
    <div>
        <div style="text-align: center;">
            <img src="/assets/Valentina.jpeg" style="width:300px;height:300px;">
        </div>
        <h1 style="text-align: center;">Valentina Peláez Echeverri</h1>

        <h3>Civil Engineer</h3>
        <p>Civil engineer with programming knowledge in in Java, Python, Angular, HTML, CSS, and JS.</p>
            <p> Efficient, passionate, and determined about meeting the challenges I face every day.
            I have been interested in developing and programming since I was at University, so I started to study on
            different platforms and courses the government provides. </p>
        <h6>Information: </h6>
        <p><a class="link" href="https://github.com/valenpelaez99" target="_blank">https://github.com/valenpelaez99</a>
        </p>
        <a class="link" [href]="'mailto:valenpelaez99@gmail.com'">valenpelaez99@gmail.com</a>
    </div>
    <br>
</div>